.desktop {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .frame {
  display: inline-flex;
  top: 95px;
  left: 340px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
  white-space: nowrap;
}

.desktop .div-wrapper {
  display: inline-flex;
  top: 95px;
  left: 495px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .div {
  display: inline-flex;
  top: 95px;
  left: 650px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .frame-2 {
  display: flex;
  width: 156px;
  top: 95px;
  left: 135px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
  white-space: nowrap;
}

.desktop .rectangle {
  position: absolute;
  top: 171px;
  left: 0;
  width: 1440px;
  height: 431px;
  object-fit: cover;
}

.desktop .img {
  position: absolute;
  top: 430px;
  left: 161px;
  width: 248px;
  height: 69px;
}

.desktop .p {
  position: absolute;
  top: 320px;
  left: 156px;
  width: 405px;
  height: 40px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 39.6px;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 657px;
  left: 84px;
  width: 256px;
  height: 200px;
  object-fit: cover;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 911px;
  left: 0;
  width: 1440px;
  height: 107px;
  background-color: #4a3e3e;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 658px;
  left: 431px;
  width: 256px;
  height: 200px;
  object-fit: cover;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 658px;
  left: 770px;
  width: 256px;
  height: 200px;
  object-fit: cover;
}

.desktop .frame-3 {
  display: inline-flex;
  top: 848px;
  left: 74px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 256px;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
}

.desktop .adidas-originals-wrapper {
  display: inline-flex;
  top: 847px;
  left: 770px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .celine-trainer-wrapper {
  display: inline-flex;
  top: 847px;
  left: 420px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .adidas-fazay-wrapper {
  display: inline-flex;
  top: 852px;
  left: 1116px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
}

.desktop .rectangle-6 {
  position: absolute;
  top: 100px;
  left: 875px;
  width: 290px;
  height: 32px;
  background-color: #f2ecec;
  transform: rotate(-0.13deg);
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 105px;
  left: 884px;
  width: 92px;
  height: 29px;
  display: flex;
  align-items: center;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
}

.desktop .rectangle-7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 59px;
  background: linear-gradient(
      0deg,
      rgba(255, 56, 60, 1) 0%,
      rgba(255, 56, 60, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(217, 217, 217, 1) 0%,
      rgba(217, 217, 217, 1) 100%
    );
  background-color: var(--colors-accents-red);
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 13px;
  left: 395px;
  width: 620px;
  height: 34px;
  display: flex;
  align-items: center;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
}

.desktop .search {
  position: absolute;
  top: 97px;
  left: 1120px;
  width: 39px;
  height: 37px;
}

.desktop .shopping-cart {
  position: absolute;
  top: 83px;
  left: 1300px;
  width: 76px;
  height: 66px;
}

.desktop .iron-man {
  position: absolute;
  top: 60px;
  left: 0;
  width: 87px;
  height: 90px;
}

.desktop .rectangle-8 {
  position: absolute;
  top: 658px;
  left: 1111px;
  width: 256px;
  height: 200px;
  object-fit: cover;
}

.desktop .IRONSHOP-n-i-b-n-t-m {
  position: absolute;
  top: 929px;
  left: 45px;
  width: 375px;
  height: 65px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
}

.desktop .span {
  color: #ffffff;
  letter-spacing: -0.08px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 376px;
  left: 161px;
  width: 584px;
  height: 44px;
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 450px;
  left: 179px;
  width: 212px;
  height: 29px;
  display: flex;
  align-items: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--colors-accents-yellow);
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 26.4px;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 618px;
  left: 650px;
  height: 22px;
  display: flex;
  align-items: center;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
  white-space: nowrap;
}

.desktop .li-n-h-email-ironhap {
  position: absolute;
  top: 921px;
  left: 543px;
  width: 248px;
  height: 83px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
}

.desktop .text-wrapper-9 {
  color: #ff8d28;
  letter-spacing: -0.08px;
}

.desktop .text-wrapper-10 {
  color: #f2ecec;
  letter-spacing: -0.08px;
}

.desktop .text-wrapper-11 {
  color: #d9d9d9;
  letter-spacing: -0.08px;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 134px;
  left: 10px;
  width: 104px;
  height: 39px;
  display: flex;
  align-items: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #7a3d3d;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 22.0px;
}
